
<div>
    <h1>Listado de alumnos</h1>
    
</div> 

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Dni</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @alumnos.each do |alumno| %>
      <tr>
        <td><%= alumno.id %></td>
        <td><%= alumno.nombre %></td>
        <td><%= alumno.apellido %></td>
        <td><%= alumno.dni %></td>
        <td><%= alumno.telefono %></td>
        <td><%= alumno.direccion %></td>
        <td><%= link_to 'Mostrar', alumno %></td>
        <td><%= link_to 'Editar', edit_alumno_path(alumno) %></td>
        <td><%= link_to 'Borrar', alumno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Expedientes', listar_expedientes_alumno_path(alumno) %></td>
        


          
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Alumno', new_alumno_path %> <br>
<%= link_to 'Atras', root_path %> <br>
<a onclick="$('#cuadro_busqueda').toggle()">Buscar un alumno especifico </a>
<div id="cuadro_busqueda" style="display: none;">
    <%= form_tag('alumnos/buscar_alumno', remote: true, :format => :js) do %>
    <%=label_tag 'Numero de dni', 'Buscar por Número de dni'%>
    <%=text_field_tag 'numeroDni'%>
    <%=submit_tag 'buscar' , :id =>'boton_buscar'%>
    <div id="respuesta_ajax"  > </div>  

  <% end%>
</div>
