<h1>Listado de alumnos</h1>
<h1></h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Dni</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @alumnos.each do |alumno| %>
      <tr>
        <td><%= alumno.nombre %></td>
        <td><%= alumno.apellido %></td>
        <td><%= alumno.dni %></td>
        <td><%= alumno.telefono %></td>
        <td><%= alumno.direccion %></td>
        <td><%= link_to 'Show', alumno %></td>
        <td><%= link_to 'Edit', edit_alumno_path(alumno) %></td>
        <td><%= link_to 'Destroy', alumno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Expedientes', listar_expedientes_alumno_path(alumno) %></td>
        


          
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alumno', new_alumno_path %>
