<h1>Expedientes iniciados por el Alumno:</h1>

<%=@alumno.apellido %> </br>
<%=@alumno.nombre %> <br>

 <p>DNI: <%=@alumno.dni%></br> </p> 

<% @expedientes.each do |expediente| %>
<h2> Datos del Expediente  </h2>
  Id: <%= expediente.id %> <br>
  Fecha: <%= expediente.fecha %> <br>
  Numero de Expediente: <%= expediente.numero_expediente %> <br>  
  
  <h3>Datos del Director: </h3>
   <p>Apellido: <%= expediente.director.apellido %> <br> </p>
   <p>Nombre: <%= expediente.director.nombre %> <br> </p>
   <p>Telefono: <%= expediente.director.telefono %> <br> </p>
   <p>Direccion: <%= expediente.director.direccion %> <br> </p>
<% end %>
<% if @alumno.expedientes.empty? %> 
 <p>Este alumno no tiene expedientes iniciados</p>
 

<% end %>
</br>

<%= link_to "Atras", :action => :index %>