<h1>Busqueda de Expediente</h1>
<p>Ingrese el numero de expediente a buscar</p>
<p></p>

<%= form_tag :action => 'buscar_expediente' do %>
   
  <%=label_tag ('Numero de Expediente', 'Buscar por Expediente')%>
  <%=text_field_tag 'numero'%>
  <%=submit_tag 'Enviar'%>

<%end%>
<br>
<br>
<%= link_to 'Atras', root_path %>