<h1>Editar Datos del Alumno y/o el Director en el Expediente</h1>

<!-- la fecha y el numero de expedientes se mantienen invariables pero puedo modificar los demas campos-->
<%= @expediente.fecha %> <br>
<%= @expediente.numero_expediente %>


<%= render 'form_edit' %>

<%= link_to 'Mostrar', @expediente %> |
<%= link_to 'Atras', expedientes_path %>
