<h1>Listado de expedientes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id </th>
      <th>Fecha</th>
      <th>Numero de expediente</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @expedientes.each do |expediente| %>
      <tr>
        <td><%= expediente.id %></td>
        <td><%= format_fecha(expediente.fecha) %></td>
        <td><%= expediente.numero_expediente %></td>
        <td><%= link_to 'Mostrar', expediente %></td>
        <td><%= link_to 'Editar', edit_expediente_path(expediente) %></td>
        <td><%= link_to 'Borrar', expediente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Expediente', new_expediente_path %> <br>
<%= link_to 'Atras', root_path  %> <br>
