<p id="notice"> <%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @expediente.id %> </br>

  <strong>Fecha:</strong>
  <%= @expediente.fecha %> </br>

  <strong> Numero de Expediente </strong>
  <%= @expediente.numero_expediente%> </br>

  <h3>Alumno</h3>
  <%= @expediente.alumno.nombre %> </br>
  <%= @expediente.alumno.apellido %> </br>
  <%= @expediente.alumno.dni %> </br>
  <%= @expediente.alumno.telefono %> </br>
  <%= @expediente.alumno.direccion %> <br>
  
  <h3>Director</h3>
  <%= @expediente.director.nombre %> </br>
  <%= @expediente.director.apellido %> </br>
  <%= @expediente.director.telefono %> </br>
  <%= @expediente.director.direccion %>


</p>

<%= link_to 'Editar', edit_expediente_path(@expediente) %> |
<%= link_to 'Atras', expedientes_path %>
