
<h1>Bienvenido a la Aplicación</h1>
<p>Sistema de manejo de pasantías </p>
<table>
	<tr>
		<td><%= link_to 'Agregar Expediente', {:controller => 'expedientes', :action => 'new'}  %></td>
		<td>
			<%= link_to "Buscar expediente", {:controller =>'expedientes',:action=> 'buscar_expediente'}%>
		</td>
		<td><%= link_to 'Mostrar  Expedientes', {:controller => 'expedientes', :action => 'index'}%></td>

		<td><%= link_to 'Alumnos', {:controller => 'alumnos', :action => 'index'} %></td>
	
		<td><%= link_to 'Directores', {:controller =>'directores', :action =>'index'}%></td>
		
	</tr>
</table>
