<h1>Listing directores</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @directores.each do |director| %>
      <tr>
        <td><%= director.nombre %></td>
        <td><%= director.apellido %></td>
        <td><%= director.direccion %></td>
        <td><%= director.telefono %></td>
        <td><%= link_to 'Mostrar', director %></td>
        <td><%= link_to 'Editar', edit_director_path(director) %></td>
        <td><%= link_to 'Borrar', director, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td> <%= link_to 'Expedientes', listar_expedientes_director_path(director)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Director', new_director_path %><br>
<%= link_to 'Atras', root_path  %> <br>
